gradio
logging
numpy
pyChatGPT
whisper
Pillow
torch
typing-extensions
huggingface-hub
modin
diffusers
transformers
speechrecognition
ffmpeg-python
pytube
IPython
stability-sdk
fabric
openai
